/* Global styles */

body {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('images/pattern.svg');
    background-size: contain;
    height: 100vh;
    padding: 35px;
    border-bottom: 3px solid #8e44ad;
}

h1, h2 {
    text-transform: capitalize;
    font-family: 'Didact Gothic', sans-serif;
}

.title {
    font-size: 70px;
    color: #8e44ad;
}

button {
    background-color: white;
}

/* Main styles */

.song-title {
    font-size: 40px;
    line-height: 45px;
}

pre {
    white-space: pre-wrap;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

input {
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    border: 3px black solid;
    margin-top: 10px;
    width: 100%;
}

input:focus {
    border: 3px #8e44ad solid;
    outline: none;
}

.modal pre {
    text-align: left;
}

.modal > header, .modal > div {
    max-width: 600px;
    margin: 0 auto;
}

.album-image {
    width: 50%;
}

main > * {
    background-color: white;
}

.video {
    height: 340px;
    width: 100%;
    max-width: 560px;
}

form {
    border: 3px black solid;
    padding: 50px;
    border-radius: 5px;
}

/* Sections */

.search-section {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    background-color: white;
}

.lyrics-section {
    padding: 35px;
}

.modal {
    display: none;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 35px;
    position: fixed;
    padding: 35px;
}

/* Buttons */

.search-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px black solid;
    font-family: inherit;
    font-size: inherit;
}

.search-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.info-button {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8e44ad;
    color: white;
    height: 50px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.info-button:hover {
    background-color: #7f3d9b;
}

.exit-button {
    border: none;
    display: block;
    font-size: 50px;
    font-family: inherit;
    margin-right: 0px;
    margin-left: auto;
    cursor: pointer;
}

@media (min-width: 500px) {
    .search-button {
        width: 30%;
    }

    input {
        width: auto;
    }

    main {
        background-size: auto;
    }
}