body {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px;
}

h2 {
    text-transform: capitalize;
}

pre {
    white-space: pre-wrap;
    text-align: center;
}

.modal {
    display: none;
}